# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
.env

# Distribution / packaging
build/
*.egg-info/
.dist/

# VS Code settings
.vscode/

# Node modules
node_modules/

# Frontend build output
frontend/dist/

# Logs
*.log

*.md
*.txt
